testeWSClient/src/META-INF/wsdl/localhost_7779/ws/hello.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://testeWS.unifei.edu.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://testeWS.unifei.edu.br/">

<xs:element name="getHelloWorldAsString" type="tns:getHelloWorldAsString"></xs:element>

<xs:element name="getHelloWorldAsStringResponse" type="tns:getHelloWorldAsStringResponse"></xs:element>

<xs:complexType name="getHelloWorldAsString">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHelloWorldAsStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>